body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgb(228 99 99 / 52%), rgb(199 177 177));
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
  height: auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}
input {
  width: 320px;
  height: 50px;
  font-size: 25px;
  padding: 10px;
  border: none;
  background: rgb(213, 208, 208);
  border-radius: 10px;
  text-align: right;
}
.button-wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-areas:
    "ac c percentage divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero dot equal equal";
  column-gap: 20px;
  row-gap: 20px;
}
.button {
  height: 50px;
  width: 50px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}
button:active {
  background: rgb(179, 175, 175);
  color: rgb(56, 54, 54);
}
.button-wide {
  height: 50px;
  width: 150px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}
