@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgb(228 99 99 / 52%), rgb(199 177 177));
}
h1 {
  font-family: "Tiro Devanagari Hindi", serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
  height: auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}
.input {
  width: 330px;
  height: 50px;
  font-size: 25px;
  padding: 10px;
  border: none;
  background: rgb(213, 208, 208);
  border-radius: 10px;
  text-align: right;
}
.button-wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-areas:
    "ac c percentage divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero dot equal equal";
  column-gap: 10px;
  row-gap: 10px;
}
.button {
  height: 70px;
  width: 80px;
  padding: 30px;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}
.yellow {
  background: rgb(156, 154, 14);
}
.red {
  background: rgb(144, 21, 21);
  color: antiquewhite;
}
button:active {
  background: rgb(179, 175, 175);
  color: rgb(56, 54, 54);
}
.button-wide {
  height: 70px;
  width: 170px;
  padding: 30px;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}
