body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
  height: auto;
  border: 1px solid black;

  padding: 10px;
}
input {
  width: 400px;
  height: 40px;
}
.button-wrapper {
  display: grid;
  grid-template-areas:
    "ac c percentage divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero dot equal equal";
}
